<section id="history" class="section">
  <div class="container">
    <div class="cards">
      <%= render("_/card", head: "How I Got Here.", body: "Learn where I've been and what I've done.") %>
      
      <%= render("_/card", head: "2014", body: "I graduated with my Bachelor of Science in Electrical Engineering from Rose-Hulman Institute of Technology in May 2014. Studying robotics at Rose is what initially sparked my interest in programming. I learned the reward of hard work and the value of team effort.") %>
      
      <%= render("_/card", head: "2015", body: "Before graduation, I signed on with a material handling company as a Project Engineer. Here I specialized in controls design and installation, overseeing and implementing each phase of my projects. I had the opportunity to travel to Central America for international projects, experiencing different cultures by being immmersed in them for weeks at a time. It was during installations like these that I discovered myself being drawn more and more toward programming.") %>
      
      <%= render("_/card", head: "2016", body: "Following my time as a Project Engineer, I accepted a position with an automotive manufacturer as a Controls Engineer. Here I was able to develop and implement ideas to allow for rapid prototyping and automated design of schematics and programs using multiple programming languages. Specifically, I standardized drawings for new machines and significantly reduced initial drawing design time using Lisp for AutoCAD.") %>
      
      <%= render("_/card", head: "2017", body: "A close friend suggested I try my hand at web development after we discussed my passion for programming. This year I have fallen in love with it. I have always been fascinated by the principles and concepts of design, and it is electrifying to be able to combine these with programming. I am certain I have found my vocation and I know I will excel as I continue to develop my skills and abilities as a web developer.") %>
      
      <%= render("_/card", head: "Maybe You Feel Like Reaching Out", contact: "CONTACT") %>
    </div>
    
    <div class="modal"></div>
    
    <div class="breadcrumbs">
      <div class="icon">
        <div><%= render "icons/history" %></div>
      </div>
      <div class="icon">
        <div><%= render "icons/hulman" %></div>
      </div>
      <div class="icon">
        <div class="expand"><%= render "icons/ladder" %></div>
      </div>
      <div class="icon">
        <div><%= render "icons/autocad" %></div>
      </div>
      <div class="icon">
        <div class="expand"><%= render "icons/development" %></div>
      </div>
      <div class="icon">
        <div><%= render "icons/contact" %></div>
      </div>
    </div>
  </div>
</section>
