<section id="history" class="section">
  <div id="history-container" class="section-container">
    <div id="history-cards">
      <%= render("_/card", head: "My Past", body: "Learn Where I've Been.") %>
      
      <%= render("_/card", head: "2014", body: "I earned my BS in Electrical Engineering from Rose Hulman Institute of Technology in May 2014. My experiences there captivated my interest in programming which I continue to study to this day. It was there that I found my passion of programming.") %>
      
      <%= render("_/card", head: "2015", body: "Upon graduation, I signed on with a material handling company as Project Engineer. It was here that I specialized my skills in controls design and installation, being involved at all steps of a project from cradle to grave. I was able to travel to Central America for the first time and meet so many awesome people. I quickly became interested in programming and how it fulfilled my desire to simply solve problems as my job.") %>
      
      <%= render("_/card", head: "2016", body: "I became Controls Engineer for an automotive manufacturing company. It was here that I was able to develop some ideas that were brewing for some time that would allow the rapid prototyping and automated design of schematics and programs with various languages. In particular, I was able to standardize drawings for new machines as well as reduce initial drawing design time considerably using Lisp for AutoCAD.") %>
      
      <%= render("_/card", head: "2017", body: "A close friend suggested I try my hand at web development after sharing my love for programming. I fell in love with it. I have always loved design principles and concepts and now I am able to mix that with programming. It's absolutely satisfying fulfilling these two passions of mine with web development. It is where I belong and it is where I will excel.") %>
      
      <%= render("_/card", head: "Maybe You Feel Like Reaching Out", contact: "CONTACT") %>
    </div>
    
    <div id="history-mechanism">
      <div id="history-track">
        <div id="history-track-detents"></div>
      </div>
      
      <div id="history-slider">
        <div class="history-slider-icon">
          <div><%= render "icons/history" %></div>
        </div>
        <div class="history-slider-icon">
          <div><%= render "icons/hulman" %></div>
        </div>
        <div class="history-slider-icon">
          <div class="expand"><%= render "icons/ladder" %></div>
        </div>
        <div class="history-slider-icon">
          <div><%= render "icons/autocad" %></div>
        </div>
        <div class="history-slider-icon">
          <div class="expand"><%= render "icons/development" %></div>
        </div>
        <div class="history-slider-icon">
          <div><%= render "icons/contact" %></div>
        </div>
      </div>
    </div>
  </div>
</section>
