<section id="work" class="section">
  <div class="container">
    <div class="cards">
      <%= render("_/card", head: "My Work Thus Far.", body: "Discover What I've Done and What I Can Do.") %>
      
      <%= render("_/card", head: "AutoLisp", body: "As a Controls Engineer, I programmed several time-saving tools designed for AutoCAD. I was surprised by the clunkiness of Lisp compared to the ease-of-use of Ruby, so I decided to implement some of Ruby's more useful elements into Lisp. I created a code interpreter that improves Lisp's functionality, such as allowing for rest parameters, and injects object-oriented paradigms for lists to behave like Ruby's array object.") %>
      
      <%= render("_/card", head: "Bash Scripting", body: "I failed the first three times I attempted to learn Ruby on Rails. Mastering the command line has always been a weakness of mine. But after coding several apps using Rails in the Cloud9 environment, I created two Bash scripts that completely automate the process from starting a new workspace in Cloud9 to a live running app in Heroku, all backed up on GitHub.") %>
      
      <%= render("_/card", head: "Upskill Courses", body: "The Upskill tutorial was my paradigm shift in learning Ruby on Rails: integrating gems, styling, back-end, essentially everything I needed to get started on my own projects. All my confusion after finishing Michael Hartl's blog tutorial was immediately clarified by Upskill. I confidently began my own projects after finishing Upskill as I was ready to create web apps.") %>
      
      <%= render("_/card", head: "It's Business Time", body: "I wanted to make this portfolio uniquely mine in every way. Each line of code and each stylistic choice are my original design. As with all my projects, this site first existed on paper; I believe planning is the ultimate measure of successful execution. I am proud of this site and honored that you are here viewing it. Thank you for visiting, please feel free to get in touch or just say hey.") %>
      
      <%= render("_/card", head: "Find Out More By Getting In Touch", contact: "CONTACT") %>
    </div>
    
    <div class="modal"></div>
    
    <div class="breadcrumbs">
      <div class="icon">
        <div><%= render "icons/work" %></div>
      </div>
      <div class="icon">
        <div class="expand"><%= render "icons/lisp" %></div>
      </div>
      <div class="icon">
        <div class="expand"><%= render "icons/bash" %></div>
      </div>
      <div class="icon">
        <div class="expand"><%= render "icons/upskill" %></div>
      </div>
      <div class="icon">
        <div><%= render "icons/briefcase" %></div>
      </div>
      <div class="icon">
        <div><%= render "icons/contact" %></div>
      </div>
    </div>
  </div>
</section>
