<% tondo = nil if local_assigns[:tondo].nil? %>
<% head = nil if local_assigns[:head].nil? %>
<% body = nil if local_assigns[:body].nil? %>
<% contact = nil if local_assigns[:contact].nil? %>

<div class="card">
  <% if tondo %>
    <div class="card-tondo" style="background-image: url(<%= asset_path tondo %>)">
    </div>
  <% end %>
  
  <div class="card-content">
    <% if head %>
      <div class="card-head<%= tondo ? " make-space" : "" %>">
        <%= head %>
      </div>
    <% end %>
    
    <% if body %>
      <div class="card-body">
        <%= body %>
      </div>
    <% end %>
    
    <% if contact %>
      <%= render("_/btn", text: contact, href: "#contact") %>
    <% end %>
  </div>
</div>