<!DOCTYPE html>
<html>
  <head>
    <title>Griz</title>
    <%= csrf_meta_tags %>
    
    <!--Use Google Analytics-->
    <%= render 'layouts/google_analytics' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>
    
    <%= yield %>
    
    <%= render 'footer' %>
  </body>
</html>
